---
layout: default
title : Showcase
navbar_title: Showcase
---

<div class="container-lg">
    <h1 class="mt-5 mb-4">Showcase</h1>
    <div class="row">
        {% for item in site.showcase %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border-0 shadow-sm bg-white">
                <div class="card-body p-4">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    {% if item.image %}
                    <img src="{{ item.image | relative_url }}" alt="{{ item.title }}" class="img-fluid rounded mt-2">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>