<div class="card border-0 shadow-sm bg-white">
    <div class="card-body p-5">
        <h2 class="h4 card-title mb-4">Experience</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <h3 class="h5 mb-3">Education</h3>
                    <div class="mb-3">
                        {% for item in site.data.profile.education %}
                        <div class="media mb-2">
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-2 mt-1">
                            <div class="media-body">
                                <div>{{ item.name }}</div>
                                <div class="small">{{ item.position }}</div>
                                <div class="small text-muted">{{ item.date }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <h3 class="h5 mb-3">Experience</h3>
                    <div class="mb-3">
                        {% for item in site.data.profile.experience %}
                        <div class="media mb-2">
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-2 mt-1">
                            <div class="media-body">
                                <div>{{ item.name }}</div>
                                <div class="small">{{ item.position }}</div>
                                <div class="small text-muted">{{ item.date }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>