<div class="card border-0 shadow-sm bg-white">
    <div class="card-body p-5">
        <h2 class="h4 card-title mb-4">News</h2>
        <div class="mb-3">
            {% for item in site.news limit: site.data.display.homepage.num_news %}
            <div class="media mb-3">
                <div class="mr-3">
                    <i class="far fa-newspaper text-muted"></i>
                </div>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ item.title }}</h5>
                    <div class="small text-muted">{{ item.date | date: "%b %d, %Y" }}</div>
                    <p class="card-text">{{ item.content | truncate: 150 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>