<div class="card border-0 shadow-sm bg-white mb-4">
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-3">
                {% if item.cover %}
                <img data-src="{{ item.cover | relative_url }}" alt="{{ item.title }}" class="lazy w-100 rounded-sm" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
                {% else %}
                <svg class="bubble-visual-hash lazy w-100 rounded-sm" data-bubble-visual-hash="{{ item.id }}" viewBox="0 0 300 200"></svg>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="small text-muted mb-2">
                    {% for author in item.authors %}
                    {{ author }}{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </div>
                <div class="small text-muted mb-2">
                    {{ item.pub }} {{ item.pub_date }}
                </div>
                <p class="card-text">{{ item.abstract | truncate: 150 }}</p>
                {% if item.links %}
                <div class="mt-2">
                    {% for link in item.links %}
                    <a href="{{ link.url }}" class="btn btn-sm btn-outline-primary" target="_blank">{{ link.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>